main{
    grid-template-columns:1fr;
}
.logo{
    font-size: 5em
}

.main-menu{
    height: 183px;
    border-radius: 10px;
}

.main-menu>ul{
    gap: 15px;
    flex-direction: column;
}


.secundary-menu ul{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.secundary-menu li{
    width: 100%;
    border-radius: 5px;
    padding: 5px 0px 5px 0px;
    font-size: 3.5em;
}

.newslether{
    grid-column: 1/3;
}

.link-newslether{
flex-direction: column;
}

footer{
    margin-top: 20px;
}